<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>45073666918-2hd93i192sh3ej2cfdb4ontt6fpaet3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45073666918-2hd93i192sh3ej2cfdb4ontt6fpaet3d</string>
	<key>API_KEY</key>
	<string>AIzaSyBuS3Lf7Kxe6a7oFAWsef5Zx-3Rfaiiexo</string>
	<key>GCM_SENDER_ID</key>
	<string>45073666918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BZW65V2563.in.zenopsys.rotary3190</string>
	<key>PROJECT_ID</key>
	<string>bzw65v2563inzenopsys</string>
	<key>STORAGE_BUCKET</key>
	<string>bzw65v2563inzenopsys.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:45073666918:ios:50d74d3c1a374c3b</string>
	<key>DATABASE_URL</key>
	<string>https://bzw65v2563inzenopsys.firebaseio.com</string>
</dict>
</plist>
